.home {
    height: 100%;
    min-width: 20%;
    max-width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
  
    transition: 0.5s;
    color: white;
    /* box-shadow: 2px 3px 5px #fc7e7e; */
  }
  
  .logo{
    margin-top: 50px;
  }
  .logo h {
    color: black;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 50px;
  }

  .logo img {
    height: 40px;
    padding-bottom: 5px;
  }

  .username {
    color: black;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
  }

  .space {
    height: 1rem;
  }
  
  .spaces {
    height: 5rem;
  }
  
  .sig {
    width: 60px;
    clip-path: circle();
    margin-left: 40px;
    float: left;
    
  }

  .other-user {
    width: 30px;
    clip-path: circle();
    margin-left: 20px;
    float: left;
    margin-top: 10px;
    
  }
  
  .card {
    border: none;
    width: 100%;
  }
  
  .link {
    color: black;
    font-size: large;
    font-weight: bold;
  }
  
  .link:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  .li {
    border: none;
  }
  
  .suggestions h {
    color: black;
  }

  .right-col{
    padding: 20px;
}

.profile-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card .username{
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.create-hover {
  cursor: pointer;
}

.sub-text{
    color: rgba(0, 0, 0, 0.5);
    font-size:12px;
    font-weight: 500;
    margin-top: 5px;
}

.action-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.action-btn .follow{
  margin-left:20px;
}

.show-all-btn{
  opacity: 1;
  font-size: 12px;
  margin-left: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin-left: 10px;
    float: left;
}

/* Profile Section */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    width: 100%;
}

.profile-image {
  float: left;
  margin-left: 10px;
}

.profile-image img {
  border-radius: 50%;
  width: 80px;
}

.profile-user-settings {
  margin-left: 10px
}

.profile-user-name {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 100px;
  margin-top: 20px;
}

.profile-stats {
  margin-top: 10px;
}

.profile-stats li {
  display: block;
  font-size: 15px;
  line-height: 1.5;
  margin-right: 50px;
  float: left;
  margin-left: 20px;
}


/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* margin: -1rem -1rem; */
  margin-top: -30px;
  margin-left: 250px;
  /* padding-bottom: 2rem; */
}

.gallery-item {
  position: relative;
  flex: 0 0 16rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}


.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-navbar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;

    transition: 0.5s;
    color: white;
}

.user-profile-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 3%;
    margin-top: 7%;
}

.user-profile-header-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user-profile-header-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}